<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid" style="display:flex; justify-content:space-between;">

    <img class="logoempresa" src="assets\logos\logo-princial.png" style="width:15%;">

    <div>
      <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/crearanuncio']">Crear Anuncios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>

    <div style="margin-right:10%;">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
    <span *ngIf="token === null">
      <div style="display: flex;">
        <button class="btn btn-secondary" type="button" id="dropdownMenuButton2">
          <div style="display:flex;">
            <div>
              <i class="fa fa-sign-in" aria-hidden="true"></i>
            </div>
            <div>
              <span><a style="color: white; text-decoration: none;" [routerLink]="['/acceso']"> Acceso</a> </span>
            </div>
          </div>
        </button>
        <button class="btn btn-secondary" type="button" id="dropdownMenuButton2" style="margin-left:5%;">
          <div style="display:flex;">
            <div>
              <i class="fa fa-sign-in" aria-hidden="true"></i>
            </div>
            <div>
              <span><a style="color: white; text-decoration: none;" [routerLink]="['/registro']"> Registro</a> </span>
            </div>
          </div>
        </button>
      </div>
    </span>

    <span *ngIf="token !== null">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          Mi cuenta
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1"
          style="font-weight:bold; padding:5px; margin-left:-100%;">
          <li>
            <a ngbDropdownItem> Hola, usuario: {{nombre}}</a>
          </li>
          <hr>
          <li style="margin-left:9px; margin-bottom:9px;">
            <div style="display:flex;">
              <div style="width:10%;">
                <i class="fa fa-user" aria-hidden="true"></i>
              </div>
              <div>
                <a ngbDropdownItem  [routerLink]="['/usuario/',id]"> Perfil</a>
              </div>
            </div>
          </li>
          <li style="margin-left:9px; margin-bottom:9px;">
            <div style="display:flex;">
              <div style="width:10%;">
                <i class="fa fa-bars" aria-hidden="true"></i>
              </div>
              <div>
                <a ngbDropdownItem [routerLink]="['/crearanuncio']"> Crear Anuncios</a>
              </div>
            </div>
          </li>
          <li style="margin-left:9px; margin-bottom:9px;">
            <div style="display:flex;">
              <div style="width:10%;">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
              </div>
              <div>
                <a ngbDropdownItem routerLink="" (click)="salir()"> Salir</a>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </span>

  </div>

</nav>
