<app-navbar></app-navbar>
<div class="container">

  <h3>Subcategoria: {{subcategoria.nombre_subcategoria}}</h3>
  <span>Aquí encontrarás... {{subcategoria.descripcion}}</span>
  <br>
  <br>

  <div *ngFor="let anuncio of subcategoria.anuncios" style="margin:1%;">
    <div class="card" style="">
      <div class="card-body">
        <div style="display:flex; justify-content:space-between;">
          <div>
            <h5 class="card-title">{{anuncio.nombre}}</h5>
          </div>
          <div>
            <h6>{{anuncio.precio}}€</h6>
          </div>
        </div>
        <hr>
        <div style="display:flex; justify-content:space-between ; ">
          <div style="width:80%;">
            <p class="card-text">{{anuncio.descripcion}}</p>
            <a [routerLink]="['/anuncios', anuncio.id]" class="btn btn-primary">Ir al anuncio</a>
          </div>
          <div style="width:15%; font-size:5em;">
            <div>
              <i class="fa fa-file-image-o" aria-hidden="true" style="justify-content:center;"></i>
            </div>
            <!--
              <div> 
                <img class="card-img-top" src="..." alt="...">
              </div>
            -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>
