<app-navbar></app-navbar>

<div class="container container1" style="padding:1%;">
  <div style="margin-left: 15%;"><h1>Registro totalmente gratuito</h1></div>
  <form [formGroup]="registroForm" (ngSubmit)="registro();" method="post">
    <div style="display:flex; justify-content:space-around;">
      <div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nombre</label>
          <input type="text" formControlName="nombre" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp" required="required">
        </div>
        <div class="mb-3">
          <label for="exampleInputNombre" class="form-label">Email</label>
          <input type="email" formControlName="email" name="email" class="form-control" id="exampleInputNombre"
            aria-describedby="emailHelp" required="required">
        </div>
      </div>
      <div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1"
            required="required">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Confirmar contraseña</label>
          <input type="password" formControlName="repitepassword" class="form-control" id="exampleInputPassword1"
            required="required">
        </div>
      </div>
    </div>
    <label for="floatingTextarea">Descripción(*)</label>
    <div class="form-floating">
      <textarea formControlName="descripcion" class="form-control anchotextarea" name="descripcion"
        placeholder="Leave a comment here" id="floatingTextarea" minlength="5" required></textarea>
    </div>
    <br>
    <div style="display:flex;">
      <div style="margin:2%;">
        <input class="form-check-input" type="hidden" id="checkPoliticas" name="token" value="">
        <button type="submit" class="btn btn-primary">Registrarse</button>
      </div>
      <div style="margin-top:3%;">
          <input class="form-check-input" type="checkbox" id="checkPoliticas" >
          <label class="form-check-label" for="autoSizingCheck2">Aceptar políticas de uso</label>
      </div>
    </div>
  </form>
</div>


<app-footer></app-footer>
